#/simulated_csv/Example_96_bots.csv
/simulated_csv/Example_96_not.csv
/simulated_csv/Example_120_bots.csv
/simulated_csv/Example_120_not.csv
/simulated_csv/Example_24_bots_ext2.csv
/simulated_csv/Example_60_bots.csv